@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #479030;
  background: linear-gradient(145deg,rgba(71, 144, 48, 1) 0%, rgba(36, 109, 95, 1) 50%, rgba(36, 109, 95, 1) 100%);
  font-family: 'Story Script', serif;
}

.container {
  height: 500px;
  width: 350px;
  padding: 10px;
}

h1 {
  font-size: 40px;
  text-align: center;
  padding: 5px;
  padding-bottom: 14px;
  color: #081f35;
}

.display {
  background-color: #212121;
  color: #fff;
}

input {
  font-size: 25px;
  padding: 10px;
  text-align: right;
  border-radius: 6px;
  margin-bottom: 10px;
  color: #fff;
}

.btn, .equal {
  width: 80px;
  height: 70px;
  position: relative;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  background: #0E5144;
  border: none;
}

.btn:hover, .equal:hover {
  filter: brightness(0.8);
  box-shadow: 3px 5px 14px rgba(0, 0, 0, 0.4);
}

.btn:active, .equal:active {
  transform: translateY(2px);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}

.equal {
  width: 163px;
}